{% extends 'base.html.twig' %}

{% block body %}
    <div class="list-group" role="group" aria-label="...">
    {% for site in sites %}
        <a class="list-group-item" href="{{ path('website', {'website': site.getPath() }) }}">{{site.getTitle()}}</a>
    {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}">
{% endblock %}

{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
{% endblock %}